extends layout

block content
  h1= title
  h1 welcome to frproxy console 

  div
    ul
      li 
        a(href="/frps", text="frps") frps management
      li
        a(href="/user", text="user") user management
    

